:root {
    --BLACK-COLOR: rgba(18, 18, 18, 1);
    --WHITE-COLOR: rgba(246, 246, 246, 1);
    --white-color-for: rgba(246, 246, 246, 0.2);
    --shadow-box: rgba(0, 0, 0, 0.1);
    --animation-text: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
    display: block;
}
button{
    cursor: pointer;
}
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.list {
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans", serif;
    background-color: var(--WHITE-COLOR);
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.container {
    max-width: 1472px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* header */
.header-section {
    background-color: #fff;
    padding-bottom: 78px;
}

.header-link {
    color: var(--BLACK-COLOR);
    font-size: 14px;
    letter-spacing: 0.05em;
    padding-bottom: 6px;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    height: 78px;
    border-bottom: 1px solid rgba(18, 18, 18, 0.3)  ;
    z-index: 2;
    position: absolute;
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    height: 78px;
    top: 0;
}

.nav-page {
    display: flex;
    gap: 32px;
}

.logo-container {
    margin-left: 370px;
}

.logo-top {
    text-align: center;
    font-size: 20px;
}

.logo {
    color: var(--BLACK-COLOR);
    font-weight: 500;
    letter-spacing: 0.18em;
    height: 100%;
    z-index: 2;
}

.social {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.logo-span {
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.18em;
}

.mimino {
    font-size: 20px;
}

.after-link::after {
    content: "";
    background-color: var(--BLACK-COLOR);
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
/* hero */
.hero-container{
    display: flex;
}
.button-hero:hover, .button-hero:focus{
background-color: var(--BLACK-COLOR);
border-color: transparent;
color: var(--WHITE-COLOR);
}
.hotel-photo{
    display: flex;
    gap: 32px;
}
.text-hero-container{
    margin-top: 204px;
}
.hero{
    font-size: 90px;
    line-height: 1;
    font-weight: 400;
}
.button-hero{
    background-color: transparent;
    color: var(--BLACK-COLOR);
    border: 1px solid var(--BLACK-COLOR);
    border-radius: 32px;
    max-width: 170px;
    width: 100%;
    max-height:42px;
    height: 100%;
    text-transform: uppercase;
    margin-top: 41px;
    transition: background-color 250ms var(--animation-text);
}
.hero-text{
    font-size: 14px;
    letter-spacing: 0.05em;
}
.text-container-hotel{
    margin-top: 174px;
}
.section-hero{
    padding-top: 30px;
}
.photo-hotel{
    margin-left: auto;
}
.button-hotel{
    display: flex;
    gap: 32px;
    margin-top: 16px;
}
.hotel-buttons{
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-color: transparent;
}
/* mid */
.img-flex-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.flex-container{
    display: flex;
        margin-top: 50px;
}
.flex-container-1{
    display: flex;
    gap: 32px;
    margin-top: 40px;
}
.h2-hotel{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
}
.mid-button{
    width: 166px;
    max-height: 42px;
    border-radius: 32px;
    color: var(--BLACK-COLOR);
    background-color: transparent;
    border: 0.8px solid var(--BLACK-COLOR);
    text-transform: uppercase;
    transition: background-color 250ms var(--animation-text);
}
.mid-button:hover, .mid-button:focus{
    background-color: var(--BLACK-COLOR);
        border-color: transparent;
        color: var(--WHITE-COLOR);
}
.mid-button-container{
    display: flex;
    margin-left: auto;
    gap: 14px;
}
/* room */
.flex-room{
    display: flex;
    margin-top: 50px;
}
.button-room-container{
    display: flex;
    gap: 14px;  
}
.h2-room{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
}
.button-room{
    max-height: 42px;
    height: 42px;
    width: 152px;
    border-radius: 32px;
    border: 0.8px solid var(--BLACK-COLOR);
    text-transform: uppercase;
    transition: background-color 250ms var(--animation-text);
}
.button-room:hover, .button-room:focus{
    background-color: var(--BLACK-COLOR);
        border-color: transparent;
        color: var(--WHITE-COLOR);
}
.flex-text-room{
    display: flex;
    gap: 32px;
    margin-top: 40px;
}
.text-room-container{
    margin-left: auto;
}
/* room-2 */
.flex-room-1{
    display: flex;
    margin-top: 50px;
}
.h2-room-1{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
}
.text-room-p{
    font-size: 18px;
    margin-top: 40px;
}
.button-room-1{
    text-transform: uppercase;
    border: 0.8px solid var(--BLACK-COLOR);
    color: var(--BLACK-COLOR);
    background-color: transparent;
    max-height:42px;
    height: 100%;
    max-width: 166px;
    width: 166px;
    border-radius: 32px;
    transition: background-color 250ms var(--animation-text);
}
.button-room-1:hover, .button-room-1:focus{
    background-color: var(--BLACK-COLOR);
        border-color: transparent;
        color: var(--WHITE-COLOR);
}
.button-room-1-container{
    display: flex;
    gap: 14px;
    margin-left: auto;
}
/* footer */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-footer {
    display: flex;
    padding-right: 33px;
}

.section-footer {
    padding-top: 44px;
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
    padding-bottom: 80px;
}

.text-align-footer {
    text-align: center;
}

.footer-nav {
    display: flex;
    gap: 32px;
}

.footer-link {
    font-size: 14px;
    letter-spacing: 0.05em;
}

.logo-top-f {
    text-align: center;
    font-size: 20px;
}

.logo-f {
    font-weight: 500;
    letter-spacing: 0.18em;
    line-height: 1.2;
    color: var(--BLACK-COLOR);
}

.logo-span-f {
    font-size: 8px
}

.footer-link {
    color: var(--BLACK-COLOR);
    font-size: 14px;
}

.icon-social {
    fill: none;

}
/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--BLACK-COLOR);
    color: var(--WHITE-COLOR);
    max-width: 628px;
    width: 100%;
    max-height: 430px;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.h1-modal {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    margin-top: 32px;
}

.form-group {
    margin-top: 60px;
}

.label-modal-1 {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-modal-1 {
    max-width: 266px;
    width: 266px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid var(--white-color-for);
}

.info-modal {
    font-size: 8px;
    letter-spacing: 0.18em;
    color: rgba(216, 215, 215, 1);
    margin-top: 8px;
}

.input-modal-1-1 {
    max-width: 266px;
    width: 266px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid var(--white-color-for);
    color: transparent;
}

.form-flex {
    display: flex;
    gap: 40px 32px;
}

.button-submit-rest {
    background-color: transparent;
    border-radius: 32px;
    border: 0.8px solid var(--WHITE-COLOR);
    width: 444px;
    height: 52px;
    color: var(--WHITE-COLOR);
}

.button-container-modal-rest {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.icon-b-12 {
    position: absolute;
    right: 0;
    top: 2px;
}

.flex-exit {
    display: flex;
}

.button-exit-modal-r {
    margin-left: auto;
    width: 32px;
    height: 32px;
    margin-top: 24px;
    background-color: transparent;
    border-color: transparent;
    padding-left: 7px;
    padding-top: 7px;
}

.exit-icon-r {
    fill: var(--WHITE-COLOR);
}

.span-modal {
    font-style: italic;
}
.h3-double{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 32px;
}