:root {
    --BLACK-COLOR: rgba(18, 18, 18, 1);
    --WHITE-COLOR: rgba(246, 246, 246, 1);
    --white-color-for: rgba(246, 246, 246, 0.2);
    --shadow-box: rgba(0, 0, 0, 0.1);
    --animation-text: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
    display: block;
}

button {
    cursor: pointer;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.list {
    list-style-type: none;
}
.list-1{
    list-style-type: circle;
}
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans", serif;
    background-color: var(--WHITE-COLOR);
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.container {
    max-width: 1472px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* header */
/* header */
.header-section {
    background-color: #fff;
    padding-bottom: 78px;
}
.button-hero:active{
background-color: var(--BLACK-COLOR);
border-color:transparent;
color: var(--WHITE-COLOR);
}
.header-link {
    color: var(--BLACK-COLOR);
    font-size: 14px;
    letter-spacing: 0.05em;
    padding-bottom: 6px;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    height: 78px;
    border-bottom: 1px solid rgba(18, 18, 18, 0.3);
    z-index: 2;
    position: absolute;
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    height: 78px;
    top: 0;
}

.nav-page {
    display: flex;
    gap: 32px;
}

.logo-container {
    margin-left: 370px;
}

.logo-top {
    text-align: center;
    font-size: 20px;
}

.logo {
    color: var(--BLACK-COLOR);
    font-weight: 500;
    letter-spacing: 0.18em;
    height: 100%;
    z-index: 2;
}

.social {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.logo-span {
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.18em;
}

.mimino {
    font-size: 20px;
}

.after-link::after {
    content: "";
    background-color: var(--BLACK-COLOR);
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
/* hero */
.hero-container {
    display: flex;
}
.text-button{
    text-align: center;
    padding-top: 10px;
}
.hotel-photo {
    display: flex;
    gap: 32px;
}

.text-hero-container {
    margin-top: 204px;
}
.text-hero{
    width: 338px;
    font-size: 14px;
}
.hero {
    font-size: 90px;
    line-height: 1;
    font-weight: 400;
}

.button-hero {
    background-color: transparent;
    color: var(--BLACK-COLOR);
    border: 1px solid var(--BLACK-COLOR);
    border-radius: 32px;
    max-width: 167px;
    width: 100%;
    height: 42px;
    text-transform: uppercase;
    margin-top: 41px;
    transition: background-color 250ms var(--animation-text);
}
.button-hero:hover, .button-hero:focus{
    background-color: var(--BLACK-COLOR);
        border-color: transparent;
        color: var(--WHITE-COLOR);
}
.hero-text {
    font-size: 14px;
    letter-spacing: 0.05em;
}

.text-container-hotel {
    margin-top: 174px;
}

.section-hero {
    padding-top: 30px;
}

.photo-hotel {
    margin-left: auto;
}

.button-hotel {
    display: flex;
    gap: 32px;
    margin-top: 16px;
}

.hotel-buttons {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-color: transparent;
}
.button-container-rest{
    display: flex;
    gap: 14px;
}
/*rest */
.container-rest{
    display: flex;
    gap: 32px;
}
.text-rest{
    font-weight: 500;
    font-size: 18px;
    padding-top: 32px;
}
/* menu */
.section-menu{
    background-color: var(--BLACK-COLOR);
}
.menu-container{
    color: var(--WHITE-COLOR);
    text-transform: capitalize;
}
.button-menu:active{
    background-color: var(--BLACK-COLOR);
    color: var(--WHITE-COLOR);
    border-color:var(--WHITE-COLOR) ;
}
.menu-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 74px;
    justify-content: center;
    flex-basis: calc((100% - 72px) / 2);
}
.h2-menu{
font-weight: 700;
font-style: italic;
font-size: 24px;
line-height: 1;
margin-bottom: 32px;
text-transform: uppercase;
}
.h3-menu{
    font-weight: 500;
    font-size: 18px;
   margin-bottom: 8px;
}
.h3-menu::before{
    content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: var(--WHITE-COLOR);
        border-radius: 50%;
        margin-right: 8px;
        margin-bottom: 3px;
}
.text-menu{
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.18em;
    color: rgba(216, 215, 215, 0.5);
}
.text-g{
    font-size: 14px;
    color: rgba(216, 215, 215, 1);
}
.number-menu{
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
}
.display-flex{
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 14px;
    width: 515px;
    margin-bottom: 14px;
}
.marg-menu{
    margin-left: auto;
}
.display-flex-1{
    display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 14px;
        width: 515px;

}
.marg-menu-1{
    display: flex;
}
.number-menu-1{
   font-weight: 700;
        font-size: 18px;
        margin-left: auto;
}
.h-m{
    margin-bottom: 0;
}
.h2-menu-1{
    font-weight: 700;
        font-style: italic;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 32px;
        text-transform: uppercase;
        margin-top: 29px;
}
.button-menu{
    width: 167px;
    height: 42px;
    border-radius: 32px;
    background-color: transparent;
    color: var(--WHITE-COLOR);
    border: 1px solid var(--WHITE-COLOR);
    text-transform: uppercase;
    transition: background-color 250ms var(--animation-text);
}
.button-menu:hover, .button-menu:focus{
  background-color: var(--WHITE-COLOR);
  border-color: transparent;
  color: var(--BLACK-COLOR);
}
.button-menu-container{
    margin-left: 169px;
    margin-top: 50px;
}
.rest-h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 100px;
}
/* footer */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-footer {
    display: flex;
    padding-right: 33px;
}

.section-footer {
    padding-top: 44px;
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
    padding-bottom: 80px;
}

.text-align-footer {
    text-align: center;
}

.footer-nav {
    display: flex;
    gap: 32px;
}

.footer-link {
    font-size: 14px;
    letter-spacing: 0.05em;
}

.logo-top-f {
    text-align: center;
    font-size: 20px;
}

.logo-f {
    font-weight: 500;
    letter-spacing: 0.18em;
    line-height: 1.2;
    color: var(--BLACK-COLOR);
}

.logo-span-f {
    font-size: 8px
}

.footer-link {
    color: var(--BLACK-COLOR);
    font-size: 14px;
}

.icon-social {
    fill: none;

}
/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--BLACK-COLOR);
    color: var(--WHITE-COLOR);
    max-width: 628px;
    width: 100%;
    max-height: 476px;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.h1-modal {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    margin-top: 32px;
}

.form-group {
    margin-top: 60px;
}

.label-modal-1 {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-modal-1 {
    max-width: 266px;
    width: 266px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid var(--white-color-for);
}

.info-modal {
    font-size: 8px;
    letter-spacing: 0.18em;
    color: rgba(216, 215, 215, 1);
    margin-top: 8px;
}

.input-modal-1-1 {
    max-width: 266px;
    width: 266px;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid var(--white-color-for);
    color: transparent;
}

.form-flex {
    display: flex;
    gap: 40px 32px;
    flex-wrap: wrap;
}

.button-submit-rest {
    background-color: transparent;
    border-radius: 32px;
    border: 0.8px solid var(--WHITE-COLOR);
    width: 444px;
    height: 52px;
    color: var(--WHITE-COLOR);
}

.button-container-modal-rest {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.icon-b-12 {
    position: absolute;
    right: 0;
    top: 2px;
}

.flex-exit {
    display: flex;
}

.button-exit-modal-r {
    margin-left: auto;
    width: 32px;
    height: 32px;
    margin-top: 24px;
    background-color: transparent;
    border-color: transparent;
    padding-left: 7px;
    padding-top: 7px;
}

.exit-icon-r {
    fill: var(--WHITE-COLOR);
}

.span-modal {
    font-style: italic;
}
.table-img{
    display: none;
}
.mobile-img{
    display: none;
}
.button-menu-mobile{
    display: none;
}
.button-rest-menu{
    display: none
}
.desktop-display{
    display: none;
}
@media screen and (max-width:767px) {
.button-menu-mobile{
    display: flex;
}
.desktop-display{
    display: block
}
    /* head */
    .container {
        max-width: 375px;
    }
.mobile-display{
    display: none;
}
.section{
    padding-top: 32px;
    padding-bottom: 32px;    
}
.modal{
    display: inline-block;
    max-width: 335px;
    max-height: 528px;
}
.header-container{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 375px;
}
.logo-top-f{
    text-align: start;
}
.logo-container{
    margin: 0;
}
.header-container-2{
    padding-left: 0;
}
.button-container-modal-rest{
    margin-top: 40px;
}
.h1-modal{
    font-size: 28px;
    margin-top: 24px;
}
.button-exit-modal-r{
    margin-top: 14px;
}
.form-group{
    margin-top: 40px;
}
.form-flex{
    gap: 32px 0;
}
.icon-menu-exit{
    display: none;
}
.logo-container{
    margin-left: 82px;
}
.hero{
    font-size: 40px;
}
.text-hero-container{
    margin-top: 0px;
}
.button-hero{
    max-width: 128px;
}
.text-hero{
    font-size: 14px;
}
.text-container-hotel{
    margin-top: 40px;
}
.section-hero{
    overflow: hidden;
}
.text-hero{
    max-width: 338px;
    width: 100%;
}
.button-hotel{
margin-left: 231px;
}
.container-rest{
    display: block;
}
.mobile-img-flex-1{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.mobile-img{
    display: block;
}
.text-rest{
    font-size: 14px;
    max-width: 335px;
    width: 100%;
    letter-spacing: -0.02em;
}
.menu-flex{
    display: block;
}
.button-menu-container{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
}
.display-flex{
    width: 100%;
    max-width: 335px;
}
.h2-menu{
    font-size: 18px;
}
.h3-menu{
    font-size: 14px;
}
.table-img{
    display: none;
}
.container-hero{
    overflow: hidden;
}
.text-menu{
    display: inline-block;
    font-size: 10px;
    max-width: 233px;
    width: 100%;
}
.text-g{
    font-size: 12px;
    text-transform: lowercase;
}
.number-menu{
    font-size:12px ;
}
.marg-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.display-flex-1{
    max-width: 335px;
    width: 100%;
}
.button-rest-menu{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;
}
.icon-hotel-1{
    fill: #fff;

}
.button-menu{
    max-width: 140px;
    height: 40px;
}
.hotel-photo{
    margin-top: 40px;
}
.social-footer{
    padding-left: 0;
    padding-right: 0;
}
.button-menu-mobile{
    background-color: transparent;
    border-color:transparent ;
}
/* 1 */
.menu-mobile {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--BLACK-COLOR);
    padding-left: 16px;
    padding-right: 24px;
    z-index: 998;
    overflow-y: hidden;
}
.button-hero{
    margin-top: 0;
}
.button-container-rest{
    margin-top: 24px;
}

.header-main-container {
    padding-left: 0;
    padding-right: 0;
    background-color: black;
}

.header-container {
    padding-left: 0;
    max-width: 375px;
    padding-right: 0;
    margin: 0 auto;
    border-bottom: 1px solid rgba(246, 246, 246, 0.2);
}

.button-menu-mobile {
    background-color: transparent;
    border-color: transparent;
}

.section-menu {
    background-color: rgba(18, 18, 18, 1);
}

.logo-menu-hotel {
    color: var(--WHITE-COLOR);
}

.logo-menu {
    color: var(--WHITE-COLOR);
}

.section-nav-menu {
    padding-top: 128px;
}

.nav-page-list-menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-page-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-link-menu {
    color: var(--WHITE-COLOR);
    font-size: 18px;
    letter-spacing: 0.05em;
    padding-bottom: 6px;
}

.section-social-menu {
    padding-top: 326px;
}
}
@media screen and (min-width:768px) and (max-width:1440px) {
    .desktop-display{
        display: block;
    }
    .button-menu-mobile {
            display: flex;
        }
    .container{
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .table-display{
        display: none;
    }
 .text-hero-container{
    margin-top: 0;
 }
.mobile-img{
    display: none;
}
.nav-page{
    display: none;
}
.container-hero{
    overflow: hidden;
}
.header-container{
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
}
.logo-container{
    margin: 0;
}
.social{
    margin: 0;
}
.hero{
    font-size: 80px;
}
.button-hero{
    max-width:140px ;
    height: 40px;
}
.photo-hotel{
    margin-top: 54px;
}
.text-hero{
    max-width: 338px;
    width: 100%;
}
.text-container-hotel{
    margin: 0;
}
.bottom-container{
    display: flex;
    margin-top: 40px;
}
.button-hotel{
    order: 2;
    margin-left: 262px;
}
.text-container-hotel{
    order: 1;
}
.button-menu-mobile{
     background-color: transparent;
     border-color: transparent;
}
.icon-menu-exit{
    display: none;
}
.section{
    padding-top: 40px;
    padding-bottom:40px ;
}
.table-container-img{
    display: flex;
}
.container-rest{
    flex-direction: column;
}
.teast{
    display: flex;
    gap: 32px;
}
.tast{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.table-text{
    display: flex;
    gap: 32px;
}
.text-rest{
    font-weight: 400;
}
.section-menu{
    padding-top: 80px;
    padding-bottom: 80px;
}
.menu-flex{
    flex-direction: column;
   align-items: center;
}
.text-menu{
    max-width: 345px;
    width: 100%;
}
.marg-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.button-rest-menu{
    display: flex;
    gap: 32px;
}
.icon-hotel-1{
    fill: #fff;
}
.button-menu-container{
    margin-left: 95px;
    margin-top: 40px;
}
.logo-top-f{
    text-align: start;
}
body{
    padding-bottom: 48px;
}
.table-img{
    display: block;
}
/* 1 */
.menu-mobile {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--BLACK-COLOR);
    padding-left: 16px;
    padding-right: 24px;
    z-index: 998;
    overflow-y: hidden;
}

.header-main-container {
    padding-left: 0;
    padding-right: 0;
    background-color: black;
}
.button-menu-mobile {
    background-color: transparent;
    border-color: transparent;
}

.section-menu {
    background-color: rgba(18, 18, 18, 1);
}

.logo-menu-hotel {
    color: var(--WHITE-COLOR);
}

.logo-menu {
    color: var(--WHITE-COLOR);
}

.section-nav-menu {
    padding-top: 128px;
}

.nav-page-list-menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-page-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-link-menu {
    color: var(--WHITE-COLOR);
    font-size: 18px;
    letter-spacing: 0.05em;
    padding-bottom: 6px;
}

.section-social-menu {
    padding-top: 326px;
}
.table-header{
    max-width: 832px;
}
.table-header{
    border-bottom: 1px solid rgba(246, 246, 246, 0.2);
}
}
